
<!-- <section class="jobdeditpage"> -->
  <!-- SEARCH DIRECTORY -->
  <!-- <a href="#/list" class="btn btn-left">BACK</a> -->
  <!-- <a href="#/details/{{prevItem}}" class="btn btn-left">&lt;</a>
  <a href="#/details/{{nextItem}}" class="btn btn-right">&gt;</a> -->

  <div class="modal-header">
            <h3 class="modal-title">EDIT JOB</h3>
        </div>
        <div class="modal-body">

  <div class="job cf" ng-model="jobsArray">

    <h1>{{jobsArray[whichItem].client}}</h1>
    <div class="info">
      <p>{{jobsArray[whichItem].date}}</p>
      <p>{{jobsArray[whichItem].ref}}</p>
      <p>{{jobsArray[whichItem].number}}</p>
      <p>{{jobsArray[whichItem].jobstart}}</p>
      <p>{{jobsArray[whichItem].jobfinish}}</p>
      <p>{{jobsArray[whichItem].active}}</p>
    </div>

    <form novalidate class="simple-form">
		<!-- Name: <input type="text" ng-model="user.name" /><br />
		E-mail: <input type="email" ng-model="user.email" /><br />
		Gender: <input type="radio" ng-model="user.gender" value="male" />male
		<input type="radio" ng-model="user.gender" value="female" />female<br />
		<input type="button" ng-click="reset()" value="Reset" />
		<input type="submit" ng-click="update(user)" value="Save" /> -->




		<div id="form_edit_item">
			Date: <input type="date" name="myinputdate" id="textboxDateadd20" class="form-control" uib-datepicker-popup="{{format}}" ng-model="job.date" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />



			<!-- <input type="DATE" name="myinputdate" id="textboxDateadd20" datepicker-popup="null" ng-model="job.date" value="" /> --><br />
			Client: <input type="TEXT" name="myinputclient" id="textboxClientadd20" ng-model="job.client" /><br />
			Ref: <input type="TEXT" name="myinputref" id="textboxRefadd20" ng-model="job.ref" /><br />
			Number: <input type="TEXT" name="myinputnumber" id="textboxNumberadd20" ng-model="job.number" /><br />
			Start: <input type="TEXT" name="myinputst" id="textboxJobStart" class="timepicker ui-timepicker-input" autocomplete="off" ng-model="job.jobstart" /><br />
			Finish: <input type="TEXT" name="myinputft" id="textboxJobFinish" class="timepicker ui-timepicker-input" autocomplete="off" ng-model="job.jobfinish" /><br />

			<input type="submit" ng-click="update(job)" value="Save" />
		</div>


	</form>
    
  </div>

</div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="update(job)">SAVE</button>
            <!-- <button class="btn btn-primary" type="button" ng-click="ok()">OK</button> -->
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>


<!-- </section> -->

