<section class="jobslistpage row">
  <!-- SEARCH DIRECTORY -->
  <!-- <div class="search">
    <h1>Job Directory</h1>
    <label>Search: </label>
    <input ng-model="query" placeholder="Search for jobs" autofocus>

    <label class="formgroup">by:
      <select ng-model="jobsOrder">
        <option value="date">Date</option>
        <option value="client">Client</option>
        <option value="number">Number</option>
        <option value="active">Active</option>
      </select>
    </label>

  </div> -->

        <!--
other filters:  | orderBy:'client', 
-->

<div ng-repeat="team in players">
    <b>{{team.team}}</b>
    <li ng-repeat="player in players | filter: {team: team}">{{player.name}}</li>        
</div>


Show results for 
   <select ng-model = "selectedYear">
      <option></option>
      <option value="2014">2014</option>  
      <option value="2015">2015</option>  
    </select>
   
    <select ng-model = "selectedMonth">
      <option></option>
      <option value="01">Jan</option>  
      <option value="02">Feb</option>  
      <option value="03">Mar</option>  
      <option value="04">Apr</option>  
      <option value="05">May</option>  
      <option value="06">Jun</option>  
      <option value="07">Jul</option>  
      <option value="08">Aug</option>  
      <option value="09">Sep</option>  
      <option value="10">Oct</option>  
      <option value="11">Nov</option>  
      <option value="12">Dec</option>  
    </select>
    
    <select ng-model = "selectedDay">
      <option></option>
      <option value="01">1</option>  
      <option value="02">2</option>  
      <option value="03">3</option>  
      <option value="04">4</option>  
      <option value="05">5</option>  
      <option value="06">6</option>  
      <option value="07">7</option>  
      <option value="08">8</option>  
      <option value="09">9</option>  
      <option value="10">10</option>  
      <option value="11">11</option>  
      <option value="12">12</option>  
    </select>
    
    <ul>
      <li ng-repeat="job in jobsArray | filter: selectedMonthFilter" style="color:white;">client: {{job.client}}, date: {{job.date}}, number: {{job.number}}</li>
    </ul>


<div id="job_wrap{{$index}}" class="layout job_wrap job-inactive" ng-repeat="job in jobsArray | startsWithA">

  <div class="col-md-2 span-client">{{job.client}}</div>

</div>



<!-- <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></uib-pagination> -->

</section>