<!-- <div id="result"></div> -->
  <div id="header" class="row row-logo">
    <section class="layout info-wrapper">

      <div class="col-md-12">

        <a href="home" title="link one" class="title">TIMESHEET INFORMATION PAGE</a>
        
      </div>


      <div class="col-md-12">

        <a href="https://tagdigital.tagworldwide.com/" title="" class="linksite-main" target="_blank">https://tagdigital.tagworldwide.com/</a>

        <p class="login">Username: jsegal-digital</p>
 
        <p class="login last">Password: W*******1</p>

        <p>You need to complete your daily timesheets as before in Tag Digital CMD ( <a href="https://tagdigital.tagworldwide.com/" target="_blank">https://tagdigital.tagworldwide.com/</a> ) please only log time worked, don&#39;t log Holidays, bank Holidays, Sickness or paid for training days here.</p>
         
        <p>Then on a Friday you need to log into Tag CMD ( <a href="http://tagcmd.tagworldwide.com/" target="_blank">http://tagcmd.tagworldwide.com/</a> ) to submit your weekly timesheets. (SEE BELOW)</p>

      </div>

      <div class="col-md-12">

          <a href="http://tagcmd.tagworldwide.com" title="" class="linksite-main" target="_blank">http://tagcmd.tagworldwide.com</a>

          
          <p class="login">Username: zsegal-cmd</p>
 
           <p class="login last">Password: tag-1122</p>

          <p>Before you submit your timesheet you can log Holidays, bank Holidays, Sickness and paid for (official) training days here.</p>

        <p>This is the site that controls the actual timesheets themselves: So once days have been filled in on jobs system we come here to complete the weekly timesheet.</p>

        <p>If you have been in the office the whole working week we expect you to log the full 40 hours (or more if you did more). This includes any downtime (ie time when you have flagged you have no work and there wasn't a new brief for you) and admin tasks. These are the numbers for anything that isn't related to an existing client or brief going on, please add what you did in the brief section also:</p>

<p class="bold">Downtime - 155008326</p>
<p class="bold">Reports and Admin - 155008327</p>
<p class="bold">Research, development and training - 155008328</p>
<p class="bold">Staff Management - 155008329</p>
<p class="bold">Travel and meetings - 155008330</p>
 
<p>If you are asked to scope a new job and there is no job number we have a list of account specific job numbers to use until a job has been set up. Please always ask your PM for the job number to use or flag with myself or Brian if they are not here.</p>
 
<p>If you have time off sick, on holiday or other agreed absence you should log this in the timesheet also.</p>
 
<p>Please do not log time that you're not working such as running late in the morning or leaving early if you haven't made the time up. We will stop approving time sheets when submitted if this is the case. Remember this is meant to reflect what we're working on and you're not expected to put time in that you haven't worked as we need a representative picture of what we're working on.</p>



      </div>

      <div class="col-md-12">

        <h2>OTHER USEFUL TAG INFORMATION</h2>
         
        <h2>Peoplelinx</h2>

        <p>Just to remind you all that from Jan 1st  Peoplelinx portal (<a href="https://peoplelinx.williamslea.com/HRnet/Logon.aspx" target="_blank">https://peoplelinx.williamslea.com/HRnet/Logon.aspx</a>) will become the main HR and information tracking source. Please note Peoplelinx works in IE and Firefox only (it does not work in Chrome). Your Personal data, Holidays, Sickness and Reviews are all tracked using peoplelinx.</p>
         
        <h2>Personal Information:</h2>

        <p>Please check that your personal information is correct (Address, telephone number, Next of Kin etc…) if anything changes, you move or change your personal contact details, please remember to update on Peoplelinx.</p>

        <h2>Holidays and Sickness:</h2>

        <p>You will need to submit all holiday requests using Peoplelinx, I have been through and everyone&#39;s holidays are now all up to date. This will also be the place where you can check how many holidays you have remaining. Please make sure that you check with your line manager and make me aware of any holiday.</p>
         
        <p>If for any reason you need to move or cancel a holiday, again you will need to do this in peoplelinx.</p>
         
        <p>Your sickness absence is also tracked within Peoplelinx, if you phone in sick, you manager will submit a note on your file, on your return to work you and/or your line manager will need to complete a "back to work" interview. This is just a quick thing and more designed if you have been off for a while, but even if it&#39;s a day or two it the form needs to be completed, this sounds worse than it is.</p>
        
      </div>


    </section>
  </div>