<!-- <div id="result"></div> -->

<div class="modal-content">

  <div class="modal-header">
    <h1>TIMESHEET APP TO DO</h1>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
  </div>

  <div class="modal-body">

    <uib-accordion close-others="oneAtATime">

    <uib-accordion-group heading="COMPLETE EDIT ITEM FUNCTIONALITY:" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
    <p>Add Angular bootstrap Timepicker directives</p>
    <p>Remove Temp info stuff from top of edit page</p>
  </uib-accordion-group>

  <uib-accordion-group heading="ADD PAGING FUNCTIONALITY:">
  <p>Add Angular bootstrap Paging directives</p>
</uib-accordion-group>

<uib-accordion-group heading="USE populate_week_range_options() FUNCTION TO CREATE FILTER FOR WEEK BEGINING AND CREATE REPORTS ETC:">
<ul>
  <li>Use Bootstrap Datepicker to choose date begining? HILIGHT MONDAYS ON WIDGET? IS THIS POSSIBLE?</li>
  <li>Yes it is with, daysOfWeekDisabled option. bootstrap datepicker options... http://stackoverflow.com/questions/10234153/limit-bootstrap-datepicker-to-weekdays-only</li>
  <li>https://www.google.co.uk/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=bootstrap%20datetimepicker%20days%20of%20week%20disabled</li>
  <li>http://bootstrap-datepicker.readthedocs.org/en/latest/options.html</li>
</ul>
</uib-accordion-group>

<uib-accordion-group heading="MAKE DAILY REPORTS:">
<ul>
  <li>Use Bootstrap Datepicker to choose days?</li>
  <li>Include all relevant information: jobs List (and data eg: times, duration, notes, number, client etc...)</li>
</ul>
</uib-accordion-group>


    <!-- <uib-accordion-group heading="{{group.title}}" ng-repeat="group in groups">
      {{group.content}}
    </uib-accordion-group>
    <uib-accordion-group heading="Dynamic Body Content">
      <p>The body of the uib-accordion group grows to fit the contents</p>
      <button type="button" class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
      <div ng-repeat="item in items">{{item}}</div>
    </uib-accordion-group>
    <uib-accordion-group heading="Custom template" template-url="group-template.html">
      Hello
    </uib-accordion-group>
    <uib-accordion-group heading="Delete account" panel-class="panel-danger">
      <p>Please, to delete your account, click the button below</p>
      <button class="btn btn-danger">Delete</button>
    </uib-accordion-group>
    <uib-accordion-group is-open="status.open">
      <uib-accordion-heading>
        I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      This is just some content to illustrate fancy headings.
    </uib-accordion-group> -->

  </uib-accordion>




</div>

<div class="modal-footer">
  FOOTER
</div>

</div>

<!-- END MODAL SECTION -->
