<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Angular Demo</title>

  <!-- Bootstrap -->
  <!-- <link href="css/bootstrap.css" rel="stylesheet"> -->
  <!-- new styles zim -->
  <link rel="stylesheet" href="css/style.css">

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- <link rel="stylesheet" href="css/lynda/style.css"> -->


  <!-- <script type="text/javascript" src="js/lib/jquery-1.11.3.min.js"></script> -->
  <!-- <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->
  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->

  <!-- <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.css"> -->

  

  <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.js"></script> -->

  

  <!-- <script type="text/javascript" src="js/lib/jquery.timepicker.js"></script> -->
  <!-- <link rel="stylesheet" type="text/css" href="css/jquery.timepicker.css"> -->



  <script src="js/lib/angular/angular.min.js"></script>
  <script src="js/lib/angular/angular-route.min.js"></script>
  <script src="js/lib/angular/angular-animate.min.js"></script>
  <script src="js/lib/angular/ui-bootstrap-tpls-0.14.2.js"></script>


  
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body>

<!-- <div id="result"></div> -->
  <div id="header" class="row row-logo">
    <section class="layout">

      <div class="col-md-12">

        <a href="home" title="link one" class="title">TIMESHEET APP</a>
        
      </div>

      <div class="col-md-6 info-panel">

        <a href="#/info" title="" class="linksite-main" target="_blank">INFORMATION/INSTRUCTIONS</a>
        
      </div>

      <div class="col-md-6-end todo-panel">

        <a href="#/todo" title="" class="linksite-main" target="_blank">TO DO</a>
        
      </div>

    </section>
  </div>


  <div class="row row-add-item">

    <section id="addFormWrapper" class="layout">


      <div class="col-md-2"><a href="#/addjob">ADD</a></div>

      <div class="search">

        <div class="col-md-3">
          <!-- <label>Search: </label> -->
          <input ng-model="query" placeholder="Search for jobs" autofocus>
        </div>

        <div class="col-md-3">
          <label class="formgroup">Order By:
          <select ng-model="jobsOrder">
            <option value="date">Date</option>
            <option value="client">Client</option>
            <option value="number">Number</option>
            <option value="active">Active</option>
          </select>
        </label>
        </div>
        

      </div>


    </section>

  </div>
  <!-- end row -->

  <div class="row row-add-item">

    <section class="layout">

      <div id="dateSelWrap" class="col-md-2"></div>

      <div id="clientSelWrap" class="col-md-3"></div>

      <div id="numberSelWrap" class="col-md-3"></div>

    </section>

  </div>
  <!-- end row -->

  <div class="main" ng-view></div>

</body>
</html>